.weather {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  max-width: 600px;
  font-family: "Quicksand", sans-serif;

  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
}

.search-button {
  margin: 0 auto;
  color: #ebebeb;
  background: #bbc3cb;
  border: #bbc3cb;
  box-shadow: 1px 1px 1px 0.5px rgb(0 0 0 / 10%);
}

.today-image {
  max-width: 70px;
}

.temperature {
  position: relative;
  font-size: 50px;
  font-weight: 400;
  top: 15px;
}

a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #768fa7;
}

.celsius {
  font-size: medium;
  position: relative;
  top: -10px;
  color: #3d4a57;
}

.fahrenheit {
  font-size: medium;
  position: relative;
  top: -10px;
  color: #3d4a57;
}

.symbol {
  font-size: medium;
  position: relative;
  top: -10px;
}

.condition {
  text-align: center;
  position: relative;
  list-style-type: none;
  padding: 0;
  top: 15px;
  font-size: small;
}

.today {
  text-align: center;
  position: relative;
  list-style-type: none;
  padding: 0;
}

.future {
  max-width: 40px;
}

.low {
  color: #c9c9c9;
}

.high {
  color: #262626;
}
